body{
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  background-color: #252525;
  padding-top: 15vh;
  font-family: sans-serif;
  color: white;
  transition: all 200ms ease-in-out;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 80px;
}

.game-view {
  max-width: 1200px;
  margin: 0 auto;
}

.word-holder {
  padding-top: 10vh;
  font-size: 60px;
  text-align: center;
}

.guess-input {
  padding-top: 10vh;
  width: 50%;
  margin: 0 auto;
  form {
    display: block;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
  }
  input {
    padding: 20px 15px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  input[name="guess-text"]{
    width: 75px;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &::-webkit-input-placeholder {
      color: transparentize(#ffffff, .5);
    }
  }
  input[type="submit"] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: #252525;
    opacity: 1;
    transition: all 200ms linear;
    &:active {
      opacity: .75;
      transition: opacity 200ms linear;
    }
    &:hover {
      color: #ff0000;
      // transform: scale(1.2);
    }
    &.game-btn-finish {
      border-radius: 10px;
    }
  }
}

.guesses-left,
.guessed-letters {
  padding-top: 8vh;
  text-align: center;
  h3 {
    display: inline;
  }
}

.wobble {
    animation-duration: 800ms;
    animation-name: wordWobble;
    animation-timing-function: ease-in-out;
}

@keyframes wordWobble {
  0% { margin-left: 0;}
  10% { margin-left: -20px; }
  20% { margin-left: 0;
        margin-right: -30px; }

  30% { margin-left: -40px;
        margin-right: 0; }

  40% { margin-left: 0;
        margin-right: -40px; }

  50% { margin-left: -40px;
        margin-right: 0; }

  60% { margin-left: 0;
        margin-right: -40px; }

  75% { margin-left: -40px;
        margin-right:  0;}

  95% { margin-left: 0;
        margin-right: -20px; }

  100% { margin: 0 auto; }
}
